.logo{
    height: 10%;
    width: 10%;
}
/* svg{
    background-color: aquamarine;
    height: 30%;
    width: 30%;
} */
.header{
    display: flex;
    justify-content: space-between;
}
.work{
    display: flex;
    gap: 20px;
    align-items: center;
}
.icon{
    border: 2px solid lightgray;
    height: 60px;
    width: 60px;
    transform: rotate(45deg);
    color: white;
}
.info{
    display: flex;
    gap: 50px;
}
.info_title{
    font-weight: 800;
}
.sub-header{
    display: flex;
    gap: 40px;
    background-color: #020031;
    padding: 0px 20px;
    height: 30px;
}
.sub-header a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    height: 100%;
    display: flex;
    align-items: center;
}
.sub-header a:hover{
    background-color: orange;
}
.animated{
    height: 100px;
    width: 100px;
    text-transform: capitalize;
    background-color: aquamarine;
    position: relative;
}
.show{
    background-color: greenyellow;
    height: 100px;
    width: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 2s ease-in-out;
}
.animated:hover .show{
    width: 100%;
}